* {
  margin: 0;
  padding: 0; }

body{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	border-width: 0;
}

#icon-i{
	padding-top: 2%;
	font-size: 20px;
	background: #fff ;
	color: #fec95c;
}

#map {
        height: 100%;
		width: 100%;
      }


