
* {
  margin: 0;
  padding: 0; }

#map{
	position: absolute;
	left: 0;
	top: 8%;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0;
	border-width: 0;
	
}

header {
  position: relative;
  z-index: 100; }

section {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  opacity: 0.8; }

.visible {
  opacity: 1;
  display: table; }

.content {
  background: #fff;
  display: table-cell;
	vertical-align: middle; }

#icon-i{
	padding-top: 13px;
	font-size: 20px;
	background: #fff ;
	color: #fec95c;
	
	&:hover .tooltiptext{
		visibility: visible;
		
	}
	.tooltiptext{
		margin-top: 45px;
		padding: 10px;
		font-size: 15px;
		font-family: sans-serif;
		right: 60px;
		position: absolute;
		visibility: hidden;
		width: 200px;
		height: 150px;
		background-color: #fff;
		text-align: center;
		color: #000;
		
	}
}
#floating-panel {
  position: absolute;
  top: 100px;
  left: 5%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #fff;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 20px;
  width: 250px;
  
}
.select{
   border: 1px solid #fec95c;
	width: 90%;
	margin-bottom: 20px;
}
#buscar{
	background: #fec95c;
	border: 1px solid #fec95c;
	color: #fff;
	width: 90%;
}
//-----section2
#coches{
	position: absolute;
	width: 250px;
	height: 240px;
	background-color: #fff;
	padding: 0 15px;
	left: 5%;
	top: 350px;
	z-index: 10000;
}

